language: cpp

jobs:
  include:
    - name: "Xenial.16.04"
      dist: xenial
      os: linux
      env: BUILD_FLAG=-qt=qt5

    - name: "Bionic.18.04"
      dist: bionic
      os: linux

    - name: "Focal.20.04"
      dist: focal
      os: linux

before_install:
    - sudo apt-get update;
    - sudo apt-get install -y qtbase5-dev qttools5-dev-tools;

script:
    - qmake $BUILD_FLAG
    - make -j$(nproc)
