Source: tcpview
Section: utils
Priority: optional
Maintainer: chipmunk.sm <dannico@linuxmail.org>
Build-Depends: debhelper (>=9),
            uuid-dev,
            qtbase5-dev
Standards-Version: 3.9.8
Homepage: https://github.com/chipmunk-sm/tcpview

Package: tcpview
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TcpView For Linux - Graphical Network Connections Viewer For Linux
