[Desktop Entry]
Categories=Qt;KDE;Utility;
Comment[en_US]=Graphical network connections viewer
Comment=Graphical network connections viewer
Exec=tcpview
GenericName[en_US]=Connections viewer
GenericName=Connections viewer
Icon=/usr/share/tcpview/tcpviewb
MimeType=
Name[en_US]=TcpView
Name=TcpView
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
